.App {
  text-align: center;
  margin-top: 75px; /* Equal to the navbar height */
  height: calc(100% - 75px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container{
  display: flex;
  flex-wrap: wrap;
}

.map-details{
  width: 28vw;
  height:100vh;
  overflow-y : scroll
}
.map{
  height: 100vh; 
  width: 70vw
}
@media (max-width: 1050px) {
  .map-container{
    display: block;
  }
  .map{
    width: 100vw;
  }

  .map-details{
    width: 100vw;
  }
}



/* Farm Cards CSS*/

.card {
  width: 195px;
  height: fit-content;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 10px;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.3em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

 .cardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  
 }

 /*Movement Cards CSS */

 .movement-card {
  width: 100%;
  background-color: #f2f3f7;
  border-radius: 0.75em;
  cursor: pointer;
  transition: ease 0.2s;
  box-shadow: 1em 1em 1em #d8dae0b1, -0.75em -0.75em 1em #ffffff;
  border: 1.5px solid #f2f3f7;
  margin : 10px
}


.text-move{
  display: flex;
}

.movement-card:hover {
  background-color: #d3ddf1;
  border: 1.5px solid #1677ff;
}

.movement-container {
  margin-top: 1.25em;
  margin-bottom: 1.375em;
  margin-left: 1.3em;
  margin-right: 2em;
  display: flex;
  flex-direction: row;
  gap: 0.75em;
}

.status-ind {
  width: 0.625em;
  height: 0.625em;
  background-color: #2bff00;
  margin: 0.375em 0;
  border-radius: 0.5em;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  
  gap: 0.5em;
  color: #333;
}

.time {
  font-size: 0.875em;
  color: #777;
}

.text-link {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.secondary-cta {
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}

.primary-cta {
  font-size: 15px;
  background-color: transparent;
  font-weight: 600;
  color: #1677ff;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 0.875em;
  width: 100vw;
}


.text-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: auto;
}

.move-details{
  border: 1px black solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
  position: fixed;
  width: 100%;
  height: 75px;
  top:0;
  z-index: 1000;
  background-color: greenyellow;
}

.navbar-content{
  margin: 10px;
}

.page-title{
  display: flex;
  justify-content: space-between;
  padding : 0 20px 0 20px 
}


/* Form CSS*/

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
}

form {
  max-width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 2px solid #007BFF;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

legend {
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="text"],
input[type="email"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

